.entryItem{
    flex-grow: 1;
    height: 50px;
    background-color: var(--background-light);
    margin: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}