@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --background-dark: #222222;
  --background: #2e2e2e;
  --background-light: #3f3f3f;
  --highlight: #4671ff;
  --text: #ffffff;
  --red: #ff0000;
  --green: #25b900;
}

.text-neutral-500{
  color: var(--background-light);
}

.bg-neutral-500{
  background-color: var(--background-light);
}

.border-neutral-500{
  border: var(--background-light);
}

.text-neutral-400{
  color: var(--highlight);
}

.bg-neutral-400{
  background-color: var(--highlight);
}

.border-neutral-400{
  border: var(--highlight);
}

.bg-red-500{
  background-color: var(--red);
}

.border-red-500{
  border: var(--red);
}

.bg-green-500{
  background-color: var(--green);
}

.border-green-500{
  border: var(--green);
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

